body {
	padding-top: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#questions_lab3 {
	background-color: #767676;
	border-radius: 5px;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}



.shadow {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

body, #sidenav, .social {
	opacity: 0; !important
}

#logo_big {
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: 5;
}