body {
	padding-top: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
}

#questions_lab3 {
	background-color: #767676;
	border-radius: 5px;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}



.shadow {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
	position: relative;
	display: inline-block;
	left: 10%;
	width: 80%;
	height: 100%;
	background-color: #343a40;
	color: white;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
	content: "";
	border-radius: 5px;
	position: absolute;
	z-index: -1;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
	-webkit-transform: scale(1.25, 1.25);
	transform: scale(1.25, 1.25);
}

.box:hover::after {
    opacity: 1;
}


body, #sidenav, .social {
	opacity: 0; !important
}

#logo_big {
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: 5;
}



/*Tobias Ahlin*/
.asog {
	color: #fff;
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/intro-bg3.jpeg);
	background-size: cover;
	background-color: #000;
	font-family: PT Sans, sans-serif;
	line-height: 3em;
	padding-top: 9em;
	padding-bottom: 10em;
	opacity: 0.8;
	border-radius: 5px;
}

.asog-r1 {
	text-transform: uppercase;
	font-size: 15vw;
	font-weight: 700;
	line-height: 1.1em;
	overflow: hidden;
	display: inline-block;
}

.asog-r2 {
	font-family: Lora, serif;
	font-style: italic;
	font-weight: 400;
	font-size: 2.7vw;
	display: inline-block;
	position: relative;
	opacity: 0;
}

.asog-r2:before,
.asog-r2:after {
	background: url(/images/decorations.svg) no-repeat center center/2.5em 0.7em;
	content: "";
	left: -3em;
	position: absolute;
	width: 2.5em;
	height: 1.5em;
}

.asog-r2:after {
	left: auto;
	right: -3em;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}


/* Intro Text */
.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }

.gj-calendar {
	z-index: 1000;
	position: relative;
}

