<section id="content" class="container">
    <header>
        <h2 class="sr-only">Laboratorio 11</h2>
    </header>
    <div class="row">
        <div class="col-lg-9">

            <!-- Main component for a primary marketing message or call to action -->
            <article id="intro" class="jumbotron bg-dark text-white shadow">
                <div class="row">
                    <div class="col-lg-9">
                        <header>
                            <h2>Lab 11: Manejo de formas con php y modelo de capas</h2>
                        </header>
                        <p class="py-5">En este lab debemos realizar ejercicios de formas y modelo de vistas.</p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#contact">Prueba</button>
                    </div>
                    <div class="col-sm">
                        <div class="container-fluid">
                            <img src="../images/js.png" class="img-fluid img" alt="Responsive Image of JS">
                        </div>
                    </div>
                </div>

            </article>
