<div class="card card-login mx-auto mt-5">
    <div class="card-header">Bienvenido <?=$user?></div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" href="add.php"><i class="fas fa-plus"></i> Add Image</a>
            </div>
        </div>
        <div class="row py-2">
            <div class="col">
                <?php if (isset($_SESSION["error_archivo"]) == ""): ?>
                    <div class="container-fluid">
                        <img class="img img-fluid" src="<?=$_SESSION["archivo"]?>"><?=$_SESSION["producto"]?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="logout.php" class="text-danger">Logout</a>
    </div>
</div>
